#side-navigation {
    position: fixed;
    top: 0;
    left: $spacer*2;

    width: $navigation-width;
    height: 100vh;

    background: $dark;

    nav.nav {
        margin: auto;
        height: 100vh;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav-link {
            text-align: center;
            color: white;
        }
    }
}
