#side-navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: $navigation-width;
    height: 100vh;

    background: $dark;

    @include media-breakpoint-up(lg) {
        left: $spacer*2;
    }

    nav.nav {
        margin: auto;
        height: 105vh;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            height: 100vh;
            justify-content: space-between;
        }

        .nav-link {
            text-align: center;
            color: white;
            text-transform: uppercase;

            font-size: 1.5rem;
            margin: $spacer*3 auto;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
                margin: auto;
            }

            // &.active,
            &:hover {
                color: $warm;
            }
        }
    }

    &::after {
        content: ' ';
        background: $dark;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        pointer-events: none;
        z-index: -1;
    }
}
