#creating-editing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacer*4;
    padding-right: $spacer*2;
    border-right: $spacer solid $cold;
    margin-right: $spacer*2;

    .image-accent-wrap {
        margin-bottom: $spacer*3;

        &.cold {
            align-self: flex-end;

            background-color: $cold;
            img.accent {
                transform: translate($spacer*1.5, $spacer*1.5);
            }
        }

        &.warm {
            background-color: $warm-soft;
            img.accent {
                transform: translate(-$spacer*1.5, $spacer*1.5);
            }
        }

        @include media-breakpoint-down(lg) {
            max-width: 50vw;

            &:nth-child(3) {
                max-width: 60vw;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 20vh;
        }
    }

    @include media-breakpoint-up(xxl) {
        border-right: none;
    }
}
