#cv {
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    margin-bottom: $spacer*4;

    .download-link {
        width: auto;
        margin: auto $spacer*4;
        background: $warm-soft;
        transition: transform 0.3s ease-in-out;
        order: 2;
        padding: 1em 0;

        a {
            color: $indigo;
            text-decoration: none;
            display: block;
            padding: 0 1em;
            height: 4em;
            line-height: 4em;
            white-space: nowrap;
        }

        &:hover {
            transform: scale(1.05);
        }

        @include media-breakpoint-down(lg) {
            margin: $spacer*2 auto $spacer*2 $spacer*2;
        }
    }

    .cv-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        position: relative;
        order: 1;

        img {
            display: block;
            width: 80%;
            height: auto;
            margin: auto;
            position: relative;
            z-index: 1;
        }

        &::before {
            content: ' ';
            display: block;
            pointer-events: none;
            background: $cold;
            filter: blur(10px);
            width: 80%;
            height: 100%;
            position: absolute;
            z-index: 0;
            transform: translate(-$spacer, $spacer);
        }

        @include media-breakpoint-down(lg) {
            margin-left: $spacer*2;

            img {
                width: 90%;
                margin-left: 0;
            }
        }
    }



    @include media-breakpoint-up(lg) {
        flex-direction: row;

        .download-link {
            order: 1;
        }

        .cv-wrap {
            order: 2;
        }
    }
}
