#logo-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacer*4;
    font-size: $h4-font-size;
    padding-right: 3em;

    .mr-0 {
        align-self: flex-end;

        @include media-breakpoint-up(xxl) {
            margin-right: 20vw;
        }
    }

    .logo {
        position: relative;
        z-index: 1;

        &:last-of-type {
            margin-bottom: 10vh;
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: 5vh;
        }

        @include media-breakpoint-down(lg) {
            max-width: 50vw;
        }
    }

    .divider {
        @include full-width;
        align-self: flex-start;
        height: $spacer*2;
    }
}
