#portfolio {
    max-width: 100vw;

    @include media-breakpoint-up(xxl) {
        max-width: 1920px;
        margin: 0 auto;
    }

    main {
        min-height: 100vh;
    }

    @include media-breakpoint-up(md) {
        main {
            margin-left: #{$navigation-width + $spacer*2};
        }
    }

    section {
        position: relative;
    }

    [data-scroll-container] {
        perspective: 1px;
    }
}
