#portfolio {
    padding-left: #{$navigation-width};

    @include media-breakpoint-up(lg) {
        padding-left: #{$navigation-width + $spacer*2};
    }

    section {
        position: relative;
    }

    [data-scroll-container] {
        perspective: 1px;

        @include media-breakpoint-up(xxl) {
            max-width: 1920px;
            margin: 0 auto;
        }
    }
}
