<section id="contact" data-scroll-section>
    <div class="divider">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="contact-header">
        <h4>Contact Me</h4>
    </div>
    <div class="contact-info">
        <div class="contact-method"><img src="/assets/icons/phone.png" alt="Phone icon" class="icon"><a href="tel:+27716811388" class="img-text">(+27) 71 681 1388</a></div>
        <div class="contact-method"><img src="/assets/icons/Email.png" alt="Email icon" class="icon"><a href="mailto:ingelizevz@gmail.com" class="img-text">ingelizevz@gmail.com</a></div>
        <div class="contact-method"><img src="/assets/icons/instagram.svg" alt="instagram icon" class="icon"><a href="https://www.instagram.com/inge_the_artist/" class="img-text">@inge_the_artist</a></div>
        <div class="contact-method"><img src="/assets/icons/location.png" alt="Location icon" class="icon"><p class="img-text">Pretoria, Gauteng</p></div>
    </div>
    <div class="divider">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>
