<section data-scroll-section id="creating-editing">
    <extends src="section-title-left.html"><block name="title">Creating &amp; Editing</block></extends>
    <div data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" class="image-accent-wrap cold"><img  src="/assets/images/movie-poster.webp" srcset="/assets/images/movie-poster@2x.webp 2x" alt="Movie Poster" class="accent"></div>
    <div data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal" class="image-accent-wrap warm"><img  src="/assets/images/youtube-thumbnail-travel.webp" srcset="/assets/images/youtube-thumbnail-travel@2x.webp 2x" alt="Movie Poster" class="accent"></div>
    <include src="./components/cookbook.html"></include>
</section>
