<section data-scroll-section id="illustration">
    <extends src="section-title.html"><block name="title">illustration</block></extends>
    <div data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal" class="image-wrap female-profile"><img class="img-fluid" src="/assets/images/femaleprofile.webp" srcset="/assets/images/femaleprofile@2x.webp 2x" alt="Digital illustration of Female Profile with skeleton"></div>
    <div data-scroll class="illustration-gallery">
        <div  data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal" class="image-wrap hand"><img class="img-fluid" src="/assets/images/hand.webp" srcset="/assets/images/hand@2x.webp 2x" alt="Digital illustration of hand"></div>
        <div  data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" class="image-wrap otto"><img class="img-fluid" src="/assets/images/otto.webp" srcset="/assets/images/otto@2x.webp 2x" alt="Digital illustration of a dog"></div>
        <div  data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal" class="image-wrap pigeon-jpg"><img class="img-fluid" src="/assets/images/pigeon-jpg.webp" srcset="/assets/images/pigeon-jpg@2x.webp 2x" alt="illustration of a woman with a Pigeon"></div>
        <div  data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" class="image-wrap colourful-woman-and-peony">
            <img class="img-fluid colourful-woman" src="/assets/images/colourful-woman.webp" srcset="/assets/images/colourful-woman@2x.webp 2x" alt="Digital painting of a colourful woman">
            <img class="img-fluid peony" src="/assets/images/peony.webp" srcset="/assets/images/peony@2x.webp 2x" alt="illustration of a Peony">
        </div>
    </div>
    <div data-scroll data-scroll-speed="1" class="image-wrap untitled-artwork"><img class="img-fluid" src="/assets/images/untitled_artwork.webp" srcset="/assets/images/untitled_artwork@2x.webp 2x" alt="Digital painting of a landscape"></div>
    <div data-scroll data-scroll-speed="-1" class="image-wrap wedding-table"><img class="img-fluid" src="/assets/images/wedding-table.webp" alt="Digital illustration of set table"></div>

</section>
