<section id="logo-design">
    <extends src="section-title.html"><block name="title">Logo Design</block></extends>
    <img src="/assets/images/moments.webp" srcset="/assets/images/moments@2x.webp 2x" alt="Moments" class="logo">
    <img src="/assets/images/moments-2.webp" srcset="/assets/images/moments-2@2x.webp 2x" alt="Moments" class="logo">
    <img src="/assets/images/august.webp" srcset="/assets/images/august@2x.webp 2x" alt="August" class="logo mr-0">
    <img src="/assets/images/thisrelationshipthing.webp" srcset="/assets/images/thisrelationshipthing@2x.webp 2x" alt="thisrelationshipthing" class="logo">
    <img src="/assets/images/thisrelationshipthing-2.webp" srcset="/assets/images/thisrelationshipthing-2@2x.webp 2x" alt="thisrelationshipthing" class="logo">
    <div class="divider">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>
