<section id="mononoke" data-scroll-section>
    <div class="d-flex justify-content-end">
        <div class="mononoke-wrap">
            <img src="/assets/images/mononoke.webp" alt="Mononoke" class="mononoke">
            <div class="mononoke-says">hi, I'm mononoke!</div>
        </div>
        <div class="pm-right">
            <div class="pm-right-short"></div>
            <div class="pm-right-long"></div>
        </div>
    </div>
    <div class="pm-bottom divider">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>
