<section id="welcome">
    <div class="welcome-top">
        <div class="welcome-top-content">
            <h1 class="title">hi, i'm inge!</h1>
        </div>
        <div class="welcome-top-content hero">
            <img src="assets/images/self-portrait.png" alt="Self Portrait" class="self-portrait">
        </div>
    </div>
    <div class="welcome-bottom">
        <p>I’m a multi-skilled designer and creative who’s ready to help you create amazing content!</p>
        <p>I believe that good design comes from solid concepts and creative collaboration.</p>
        <p>I am a BA Visual Studies Graduate with a background in art and design. Constant learning and exploration are things I actively pursue, believing that in the contemporary digital context, it is essential to have diverse knowledge and skills. I paint, illustrate, write and design.</p>
        <p>Let’s create together!</p>
    </div>
</section>