// Portfolio variables
$navigation-width: 14rem;

// Bootstrap options

$enable-caret:                false;
$enable-rounded:              false;
$enable-shadows:              true;
$enable-gradients:            true;
$enable-transitions:          true;
$enable-reduced-motion:       false;
$enable-smooth-scroll:        true;
$enable-grid-classes:         false;
$enable-cssgrid:              false;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     false;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;
